@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: url("fonts/Roboto/Roboto-Light..eot");
    src: url("fonts/Roboto/Roboto-Light..eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Light..woff") format("woff"), url("fonts/Roboto/Roboto-Light..woff2") format("woff2"), url("fonts/Roboto/Roboto-Light..ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/Roboto/Roboto-Regular..eot");
    src: url("fonts/Roboto/Roboto-Regular..eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Regular..woff") format("woff"), url("fonts/Roboto/Roboto-Regular..woff2") format("woff2"), url("fonts/Roboto/Roboto-Regular..ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url("fonts/Roboto/Roboto-Medium..eot");
    src: url("fonts/Roboto/Roboto-Medium..eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Medium..woff") format("woff"), url("fonts/Roboto/Roboto-Medium..woff2") format("woff2"), url("fonts/Roboto/Roboto-Medium..ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/Roboto/Roboto-Bold..eot");
    src: url("fonts/Roboto/Roboto-Bold..eot?#iefix") format("embedded-opentype"), url("fonts/Roboto/Roboto-Bold..woff") format("woff"), url("fonts/Roboto/Roboto-Bold..woff2") format("woff2"), url("fonts/Roboto/Roboto-Bold..ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    src: url("fonts/Raleway/Raleway-Regular..eot");
    src: url("fonts/Raleway/Raleway-Regular..eot?#iefix") format("embedded-opentype"), url("fonts/Raleway/Raleway-Regular..woff") format("woff"), url("fonts/Raleway/Raleway-Regular..woff2") format("woff2"), url("fonts/Raleway/Raleway-Regular..ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-weight: 500;
    font-style: normal;
    src: url("fonts/Raleway/Raleway-Medium..eot");
    src: url("fonts/Raleway/Raleway-Medium..eot?#iefix") format("embedded-opentype"), url("fonts/Raleway/Raleway-Medium..woff") format("woff"), url("fonts/Raleway/Raleway-Medium..woff2") format("woff2"), url("fonts/Raleway/Raleway-Medium..ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-weight: 600;
    font-style: normal;
    src: url("fonts/Raleway/Raleway-SemiBold..eot");
    src: url("fonts/Raleway/Raleway-SemiBold..eot?#iefix") format("embedded-opentype"), url("fonts/Raleway/Raleway-SemiBold..woff") format("woff"), url("fonts/Raleway/Raleway-SemiBold..woff2") format("woff2"), url("fonts/Raleway/Raleway-SemiBold..ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    src: url("fonts/Raleway/Raleway-Bold..eot");
    src: url("fonts/Raleway/Raleway-Bold..eot?#iefix") format("embedded-opentype"), url("fonts/Raleway/Raleway-Bold..woff") format("woff"), url("fonts/Raleway/Raleway-Bold..woff2") format("woff2"), url("fonts/Raleway/Raleway-Bold..ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-weight: 800;
    font-style: normal;
    src: url("fonts/Raleway/Raleway-ExtraBold..eot");
    src: url("fonts/Raleway/Raleway-ExtraBold..eot?#iefix") format("embedded-opentype"), url("fonts/Raleway/Raleway-ExtraBold..woff") format("woff"), url("fonts/Raleway/Raleway-ExtraBold..woff2") format("woff2"), url("fonts/Raleway/Raleway-ExtraBold..ttf") format("truetype");
  }
  *{
    margin: 0;
    padding: 0;
    border: 1;
    font-size: 120%;
    font: inherit;
    vertical-align: baseline;
}
*::-webkit-scrollbar {
    width: 8px;
  }
*::-webkit-scrollbar-track {
   background: #EDEDF0;
}
*::-webkit-scrollbar-thumb {
    background-color: #85899D;
}
*{
    scrollbar-width: thin;
    scrollbar-color: #85899D #EDEDF0;
}
body{
    font-size: 120%;
    color: #85899D; 
    font-family: "Raleway", sans-serif;
    font-feature-settings: "lnum";
}
p{
    margin-bottom: 20px;
}
p:last-child{
    margin-bottom: 0;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.container--flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.breadcrumps{
    margin-bottom: 20px;
    color: #009fe3;
}
.site-header{
    position: sticky;
    top: 0;
    background-color: #fff;
    transition: 0.5s;
    max-height: 187px;
}
.site-header-mobile{
    display: flex;
    align-items: center;
}
.site-header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    padding: 36px 0;
    background-color: #fff;
}
.site-header-mobile-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
    background-color: #fff;
    transform: translate(0, -317px);
    z-index: -1;
    transition: 0.5s;
}
.site-header-mobile__link{
    text-decoration: none;
    font-family: "Raleway";
    color: #fff;
    padding: 10px 0;
    background-color: #797979;
    text-align: center;
    margin: 5px 2px 0 0;
    transition: 0.5s;
}
.site-header-mobile__link:last-child{
    margin-bottom: 5px;
}
.site-header__logo{
    width: max-content;
    max-width: 396px;
}
.site-header__logo img {
    width: 100%;
}
.site-header-top{
    width: 100%;
    max-width: 600px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    font-family: "Raleway", sans-serif;
}
.site-header__link{
    text-decoration: none;
    transition: 0.5s;
    margin-right: 30px;
    color: #000;
    font-size: 16px;
}
.site-main__banner{
    width: 100%;
    height: 583px;
    background: url("img/slide.jpg");
    background-size: cover;
}
.site-header__menu{
    height: 50px;
    width: 100%;
    border-top: 1px solid rgba(52, 52, 51, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.site-header-lang{
    display: flex;
    align-items: center;
    gap: 10px;
}
.site-header-info{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
}
.menu-header__link{
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    font-size: 16px;
    font-weight: 500;
}
.lang__link{
    text-decoration: none;
    color: #000;
}
.--current{
    color: #009fe3;
}
.site-main__content{
    margin: 20px 0;
}
.site__footer{
    border-top: 2px solid #ededed;
}
.site-header-search button{
    padding: 0;
    width: auto;
    height: 34px;
    outline: none;
    border: none;
    background-color: transparent;
}
.search-input{
    border: none;
    padding: 0 15px !important;
    font-size: 20px !important;
    font-weight: 500;
}
.site-main__info{
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
    color: #4b4b4b;
}
.site-main__section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section__elem{
    width: 30%;
    max-width: 425px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}
.section-elem{
    background-color: #797979;
    background-blend-mode: multiply;
    transition: 0.5s;
}
.section-elem--organisation{
    background-image: url("img/section1.jpg");
    background-size: 100%;
    background-position-x: 45%;
    background-position-y: 45%;
}
.section-elem--photo{
    background-image: url("img/section2.jpg");
    background-size: 100%;
    background-position-x: 45%;
    background-position-y: 45%;
}
.section-elem--video{
    background-image: url("img/section3.jpg");
    background-size: 100%;
    background-position-x: 45%;
    background-position-y: 45%;
}
.section-elem__button{
    width: 100%;
}
.section-elem__link{
    text-decoration: none;
    border: 3px solid #fff;
    padding: 10px 25px;
    display: block;
    text-align: center;
    transition: 0.5s;
    color: #fff;
}
.section-elem__title{
    font-size: 27px;
    font-weight: bold;
    color: #fff;
}
.site-footer .container{
    height: auto;
}
.site-footer-copy{
    background-color: #ededed;
    color: #85899D;
    padding: 30px 0;
}
.site-footer__img{
    max-width: 342px;
}
.site-footer-content{
    padding: 38px 0;
}
.site-footer-content{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.site-footer-address{
    width: 35%;
}
.site-footer-title{
    font-weight: 600;
    font-size: 20px;
    color: #4b4b4b;
}
.site-footer-info{
    color: #4b4b4b;
    margin-top: 6px;
}
.site-footer__link{
    text-decoration: none;
    color: #4b4b4b;
    transition: 0.5s;
}
.site-footer-soc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
.site-footer-soc a {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #4b4b4b;
    transition: 0.5s;
}
.site-footer-soc a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.site-footer-soc a._vk::before {
    background: #597DA3;
}
.site-footer-soc a._tg::before {
    background: #0088cc;
}
.site-footer-soc a._ok::before {
    background: #EE8208;
}
.site-footer-soc a._r::before {
    background: #E62117;
}
.site-footer-soc a._cz::before {
    background: #ffb623;
}
.site-footer-soc a img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
.site-up{
    width: 70px;
    height: 70px;
    background-color: #009fe3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    position: fixed;
    top: 90%;
    right: 240px;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}
.burger-btn span i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4b4b4b;
    -webkit-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    -o-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
}
.burger-btn span::before, .burger-btn span::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #4b4b4b;
    -webkit-transition: background-color 0.3s, top 0.15s 0.15s, -webkit-transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, -webkit-transform 0.15s;
    -o-transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s, -webkit-transform 0.15s;
}
.burger-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.burger-btn span {
    display: block;
    position: relative;
    width: 22px;
    height: 3px;
    --rotateUp: 0;
    --rotateDown: 0;
    --top: 8px;
}
.burger-btn span::before{
    top: calc(var(--top) * (-1));
    transform: rotate(var(--rotateUp));
}
.burger-btn span::after{
    top: var(--top);
    transform: rotate(var(--rotateDown));
}
.site-menu-title-toggle{
    width: max-content;
    display: none;
}
.site-header-mobile-top{
    display: flex;
    gap: 25px;
}
@media(min-width: 1024px){
    .site-header-mobile{
        display: none;
    }
}
@media (min-width: 768px){
    .burger-btn {
        width: 27px;
        height: 30px;
    }
}
@media(max-width: 1600px){
    .site-up{
        right: 25px;
    }
}
@media(max-width: 1445px){
    .container{
        padding: 0 10px;
    }
}
@media(max-width: 1300px){
    .section__elem{
        max-width: 29%;
    }
}
@media(max-width: 1100px){
    .site-header-top{
        max-width: 650px;
    }
    .site-header__logo{
        max-width: 325px;
    }
}
@media(max-width: 1024px){
    .site-main__section{
        flex-direction: column;
        gap: 10px;
    }
    .section__elem{
        width: unset;
        max-width: 100%;    
    }
    .site-header-top{
        display: none;
    }
    .site-header{
        max-height: 76px;  
    }
    .site-header__content{
        padding: 8px 0;
    }
    .site-header__logo img{
        max-width: 185px;
    }
}
@media(max-width: 900px){
    .site-footer-contacts{
        padding-right: 25px;
    }
    .container{
        padding: 0 10px;
    }
}
@media(max-width: 780px){
    .site-footer-info,.site-footer__link{
        font-size: 17px;
    }
}
@media(max-width: 768px){
    .site-header-mobile-burger{
        display: flex;
    }
}
@media(max-width: 700px){
    .site-footer-content{
        flex-direction: column;
        align-items: center;
    }
    .site-footer-title, .site-footer-info{
        text-align: center;
    }
    .site-footer-address, .site-footer-contacts{
        width: 100%;
        padding: 0;
    }
    .site-footer-copy{
        text-align: center;
    }
}
@media screen {
    .site-header-mobile__link:hover{
        color: #009fe3;
    }
    .section-elem__link:hover{
        background-color: #fff;
        color: #000;
        border-color: #fff;
    }
    .site-header__link:hover,
    .menu-header__link:hover{
        color: #009fe3;
    }
    .section-elem--blue:hover{
        box-shadow: 0 0 20px #009fe3;
    }
    .section-elem--green:hover{
        box-shadow: 0 0 20px #98D04C;
    }
    .section-elem--purpule:hover{
        box-shadow: 0 0 20px #662D91;
    }
    .section-elem--organisation:hover,
    .section-elem--photo:hover,
    .section-elem--video:hover{
        background-size: 120%;
    }
    .site-footer__link:hover{
        color: #009fe3;
    }
    .site-up:hover{
        background-color: #027eb3;
    }
    .section-elem:hover{
        background-color: #fff;
    }
    .site-footer-soc a._vk:hover {
        background: #597DA3;
    }
    .site-footer-soc a._tg:hover {
        background: #0088cc;
    }
    .site-footer-soc a._ok:hover {
        background: #EE8208;
    }
    .site-footer-soc a._r:hover {
        background: #E62117;
    }
    .site-footer-soc a._cz:hover {
        background: #ffb623;
    }
}